<%= form_for(@profile, :url => profile_path, :html => { :method => :put, :class => "edit_profile", :id => "edit_profile"}) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><!-- begin - email -->
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div><!-- end - email -->
  <div class="field"><!-- begin - name -->
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div><!-- end - name -->
  <div class="field"><!-- begin - openid_identifier -->
    <%= f.label :openid_identifier %><br />
    <%= f.text_field :openid_identifier %>
  </div><!-- end - openid_identifier -->
  <div class="field"><!-- begin - password -->
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div><!-- end - password -->
  <div class="field"><!-- begin - new_password -->
    <%= f.label :new_password %><br />
    <%= f.text_field :new_password %>
  </div><!-- end - new_password -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
