<%= form_for(@remote_permission) do |f| %>
  <% if @remote_permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remote_permission.errors.count, "error") %> prohibited this remote_permission from being saved:</h2>

      <ul>
      <% @remote_permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><!-- begin - ip -->
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div><!-- end - ip -->
  <div class="field"><!-- begin - token -->
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </div><!-- end - token -->
  <div class="actions">
    <%= f.hidden_field :updated_at %>
    <%= f.submit %>
  </div>
<% end %>
