<%= form_for(@configuration, :url => configuration_path, :html => { :method => :put, :class => "edit_configuration", :id => "edit_configuration"}) do |f| %>
  <% if @configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@configuration.errors.count, "error") %> prohibited this configuration from being saved:</h2>

      <ul>
      <% @configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><!-- begin - errors_keep_dumps -->
    <%= f.label :errors_keep_dumps %><br />
    <%= f.text_field :errors_keep_dumps %>
  </div><!-- end - errors_keep_dumps -->
  <div class="field"><!-- begin - errors_base_url -->
    <%= f.label :errors_base_url %><br />
    <%= f.text_field :errors_base_url %>
  </div><!-- end - errors_base_url -->
  <div class="field"><!-- begin - errors_from_email -->
    <%= f.label :errors_from_email %><br />
    <%= f.text_field :errors_from_email %>
  </div><!-- end - errors_from_email -->
  <div class="field"><!-- begin - errors_to_emails -->
    <%= f.label :errors_to_emails %><br />
    <%= f.text_field :errors_to_emails %>
  </div><!-- end - errors_to_emails -->
  <div class="field"><!-- begin - idle_session_timeout -->
    <%= f.label :idle_session_timeout %><br />
    <%= f.text_field :idle_session_timeout %>
  </div><!-- end - idle_session_timeout -->
  <div class="field"><!-- begin - audits_keep_logs -->
    <%= f.label :audits_keep_logs %><br />
    <%= f.text_field :audits_keep_logs %>
  </div><!-- end - audits_keep_logs -->
  <div class="field"><!-- begin - from_email -->
    <%= f.label :from_email %><br />
    <%= f.text_field :from_email %>
  </div><!-- end - from_email -->
  <div class="actions">
    <%= f.hidden_field :updated_at %>
    <%= f.submit %>
  </div>
<% end %>
