<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><!-- begin - name -->
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div><!-- end - name -->
  <div class="field"><!-- begin - description -->
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div><!-- end - description -->
  <div class="field"><!-- begin - application -->
    <%= f.label :application %><br />
    <%= f.text_field :application %>
  </div><!-- end - application -->
  <div class="field"><!-- begin - has_regions -->
    <%= f.label :has_regions %><br />
    <%= f.check_box :has_regions %>
  </div><!-- end - has_regions -->
  <div class="actions">
    <%= f.hidden_field :updated_at %>
    <%= f.submit %>
  </div>
<% end %>
