<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Application</th>
    <th>Has regions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.description %></td>
    <td><%= group.application %></td>
    <td><%= group.has_regions %></td>
<% if allowed?(:groups, :show) %>
    <td><%= link_to 'Show', group %></td>
<% end %>
<% if allowed?(:groups, :update) %>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
<% end %>
<% if allowed?(:groups, :destroy) %>
    <td><%= link_to 'Destroy', group_path(group) + "?group[updated_at]=#{group.updated_at.utc.strftime('%Y-%m-%d %H:%M:%S') + ("%06d" % group.updated_at.utc)}", :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% if allowed?(:groups, :create) %>
<%= link_to 'New Group', new_group_path %>
<% end %>
