<h1>Listing audits</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @audits.each do |audit| %>
  <tr>
    <td><%= audit.login %></td>
    <td><%= audit.message %></td>
<% if allowed?(:audits, :show) %>
    <td><%= link_to 'Show', audit %></td>
<% end %>
<% if allowed?(:audits, :update) %>
    <td><%= link_to 'Edit', edit_audit_path(audit) %></td>
<% end %>
<% if allowed?(:audits, :destroy) %>
    <td><%= link_to 'Destroy', audit, :confirm => 'Are you sure?', :method => :delete %>
</td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% if allowed?(:audits, :create) %>
<%= link_to 'New Audit', new_audit_path %>
<% end %>
