<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @audit.login %>
</p>

<p>
  <b>Message:</b>
  <%= @audit.message %>
</p>


<% if allowed?(:audits, :update) %>
<%= link_to 'Edit', edit_audit_path(@audit) %>
<% end %>
<% if allowed?(:audits, :index) %>
 | <%= link_to 'Back', audits_path %>
<% end %>
