<%= form_for(@error) do |f| %>
  <% if @error.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@error.errors.count, "error") %> prohibited this error from being saved:</h2>

      <ul>
      <% @error.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><!-- begin - message -->
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div><!-- end - message -->
  <div class="field"><!-- begin - request -->
    <%= f.label :request %><br />
    <%= f.text_area :request %>
  </div><!-- end - request -->
  <div class="field"><!-- begin - response -->
    <%= f.label :response %><br />
    <%= f.text_area :response %>
  </div><!-- end - response -->
  <div class="field"><!-- begin - session -->
    <%= f.label :session %><br />
    <%= f.text_area :session %>
  </div><!-- end - session -->
  <div class="field"><!-- begin - parameters -->
    <%= f.label :parameters %><br />
    <%= f.text_area :parameters %>
  </div><!-- end - parameters -->
  <div class="field"><!-- begin - clazz -->
    <%= f.label :clazz %><br />
    <%= f.text_field :clazz %>
  </div><!-- end - clazz -->
  <div class="field"><!-- begin - backtrace -->
    <%= f.label :backtrace %><br />
    <%= f.text_area :backtrace %>
  </div><!-- end - backtrace -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
