<h1>Listing errors</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Request</th>
    <th>Response</th>
    <th>Session</th>
    <th>Parameters</th>
    <th>Clazz</th>
    <th>Backtrace</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @errors.each do |error| %>
  <tr>
    <td><%= error.message %></td>
    <td><%= error.request %></td>
    <td><%= error.response %></td>
    <td><%= error.session %></td>
    <td><%= error.parameters %></td>
    <td><%= error.clazz %></td>
    <td><%= error.backtrace %></td>
<% if allowed?(:errors, :show) %>
    <td><%= link_to 'Show', error %></td>
<% end %>
<% if allowed?(:errors, :update) %>
    <td><%= link_to 'Edit', edit_error_path(error) %></td>
<% end %>
<% if allowed?(:errors, :destroy) %>
    <td><%= link_to 'Destroy', error, :confirm => 'Are you sure?', :method => :delete %>
</td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% if allowed?(:errors, :create) %>
<%= link_to 'New Error', new_error_path %>
<% end %>
