<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @error.message %>
</p>

<p>
  <b>Request:</b>
  <%= @error.request %>
</p>

<p>
  <b>Response:</b>
  <%= @error.response %>
</p>

<p>
  <b>Session:</b>
  <%= @error.session %>
</p>

<p>
  <b>Parameters:</b>
  <%= @error.parameters %>
</p>

<p>
  <b>Clazz:</b>
  <%= @error.clazz %>
</p>

<p>
  <b>Backtrace:</b>
  <%= @error.backtrace %>
</p>


<% if allowed?(:errors, :update) %>
<%= link_to 'Edit', edit_error_path(@error) %>
<% end %>
<% if allowed?(:errors, :index) %>
 | <%= link_to 'Back', errors_path %>
<% end %>
