<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @at.login %>
</p>

<p>
  <b>Email:</b>
  <%= @at.email %>
</p>

<p>
  <b>Name:</b>
  <%= @at.name %>
</p>

<p>
  <b>Hashed:</b>
  <%= @at.hashed %>
</p>

<p>
  <b>Hashed2:</b>
  <%= @at.hashed2 %>
</p>

<p>
  <b>At token:</b>
  <%= @at.at_token %>
</p>


<% if allowed?(:ats, :update) %>
<%= link_to 'Edit', edit_at_path(@at) %>
<% end %>
<% if allowed?(:ats, :index) %>
 | <%= link_to 'Back', ats_path %>
<% end %>
